$theme-color-light: #1b1b1b;
$theme-color-dark: #ffffff;
$theme-color-1: #845ec2;

$font-color-dark: #ffffff;
$font-color-light-1: #1b1b1b;
$font-color-light-2: #3c3c43;
$font-color-light-3: #3c3c43c7;

$border-color-light-1: rgba(165, 165, 165, 0.2);
$border-color-light-2: rgba(165, 165, 165, 0.8);
$border-color-light-3: rgb(236, 237, 236);
$border-color-light-4: #845ec2;
$border-color-light-5: #1B1B1B;
$border-color-light-6: #FFFFFF;

$background-color-light-0: #FFFFFF;
$background-color-light-1: #1b1b1b;
$background-color-hover-light: rgba(60, 60, 67, 0.1);
$background-color-hover-light-1: rgba(186, 186, 189, 0.1);

$transition-1: .2s;

// 按钮
@mixin buttonMain($white: #ffffff, $black: #1b1b1b) {
    background-color: $black;
    border: 2px solid $black;
    color: $white;
}
@mixin buttonHover($white: #ffffff, $black: #1b1b1b) {
    background-color: $white;
    border: 2px solid $black;
    color: $black;
}
@mixin buttonActive($white: #ffffff, $black: #1b1b1b) {
    border: 2px solid $white;
}
@mixin button {
    button {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0px;
        @include buttonMain;
        transition: 0.2s;
    }
    button:hover {
        @include buttonHover;
    }
    button:active {
        @include buttonActive;
    }
}

@mixin a {
    a {
        color: $font-color-light-2;
        transition: 0.2s;
    }
    a:hover {
        color: $font-color-light-3;
    }
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
