@import "@/assets/css/_variables.scss";
@import "@/assets/css/module.scss";

.bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    .writePanel {
        padding: 50px 60px;
        background-color: #ffffff;
        border-radius: 16px;
        overflow: hidden;

        >div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 40px;

                .iconBox {
                    margin-bottom: 10px;
                    background-color: $blue-color-2;
                    border-radius: 18px;

                    svg {
                        padding: 20px;
                        font-size: 40px;
                        color: $blue-color-1;
                    }
                }

                .red {
                    background-color: $red-color-2;

                    svg {
                        color: $red-color-1;
                    }
                }

                span {
                    font-size: 22px;
                }
            }

            label {
                display: flex;
                flex-direction: column;

                span {
                    color: $font-color-light-1;
                }

                input {
                    width: 220px;
                }

                @include input;

                button {
                    width: 60px;
                    padding: 7px;
                    margin-left: 2px;
                }

                @include button;

                .code {
                    input {
                        width: 158px;
                    }
                }

                .password {
                    display: flex;
                    input {
                        width: 170px;
                        margin-right: 2px;
                    }

                    button {
                        width: 50px;
                        height: 39px;
                        margin: 0;
                        @include flexCenter;

                        svg {
                            font-size: 22px;
                        }
                    }
                }
            }

            .submit {
                width: 240px;
                padding: 7px;
                margin-top: 20px;
            }

            @include button;
        }
    }
}