@import "@/assets/css/_variables.scss";
@import "@/assets/css/module.scss";

.title {
    height: 58px;
    padding-left: 24px;
    line-height: 58px;
    font-size: 20px;
    font-weight: bold;
    color: $font-color-light-1;
}

.language {
    width: 100%;
    height: calc(100% - 68px);
    padding: 10px 0px 0px;
    > ul {
        padding: 15px 0;
        border-bottom: 1px solid $border-color-light-3;
        > li {
            padding: 0 10px;
            display: flex;
            flex-direction: column;

            .subTitle {
                font-size: 20px;

                svg {
                    margin-right: 4px;
                }
            }

            .displayLanguage {
                margin: 5px 0;
                li {
                    margin: 5px 0;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                    cursor: pointer;
                    svg {
                        font-size: 35px;
                        margin-right: 10px;
                    }
                    span {
                        font-size: 20px;
                    }
                }
                li:hover {
                    background-color: $background-color-hover-light;
                }
            }

            .select {
                background-color: $background-color-hover-light-2;
            }
        }
    }
}
