@import "@/assets/css/_variables.scss";
@import "@/assets/css/module.scss";

.postPage {
    width: 100%;
    height: calc( 100% - 58px );
    padding-top: 58px;
    overflow: scroll;
    display: flex;
    .post {
        width: 590px;
        padding: 20px 10px;

        .author {
            a {
                width: 100%;
                height: 64px;
                display: flex;
                align-items: center;
                text-decoration: none;
                img {
                    width: 42px;
                    height: 42px;
                    border-radius: 42px;
                }
                .text {
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    span {
                        font-size: 15px;
                        font-weight: bold;
                        color: $font-color-light-1;
                        margin-right: 12px;
                    }
                    p {
                        font-size: 15px;
                        font-weight: normal;
                        color: $font-color-light-2;
                    }
                }
            }
        }

        // 横图
        .landscape {
            width: 100%;
            height: auto;
            margin: 10px 0;
            img {
                width: 100%;
                height: auto;
                border: 1px solid $border-color-light-2;
                border-radius: 12px;
            }
        }

        //  竖图
        .portrait {
            width: 100%;
            height: auto;
            margin: 10px 0;
            img {
                width: 100%;
                height: 100%;
                border: 1px solid $border-color-light-2;
                border-radius: 12px;
            }
        }

        .time {
            margin: 8px 0;
            color: $font-color-light-3;
        }
        // 控件
        .control {
            display: flex;
            margin: 8px 0;
            padding: 6px 0;
            border-top: 1px solid $border-color-light-1;
            border-bottom: 1px solid $border-color-light-1;
            > div {
                flex-grow: 1;
                margin: 0 8px;
                @include flexCenter;
                color: $font-color-light-3;
                button,
                a {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    border: 0px;
                    background: none;
                    border-radius: 20px;
                    padding: 8px;
                    @include flexCenter;
                    transition: $transition-1;
                    svg {
                        font-size: 18px;
                        color: $font-color-light-3;
                        transition: $transition-1;
                        cursor: pointer;
                    }
                }
                p {
                    color: $font-color-light-3;
                    transition: $transition-1;
                }
            }
            .isLike {
                button {
                    svg {
                        color: rgb(249, 24, 128);
                    }
                }
                p {
                    color: rgb(249, 24, 128);
                }
            }
            .heartIcon:hover {
                button {
                    background-color: rgba(249, 24, 128, 0.1);
                    svg {
                        color: rgb(249, 24, 128);
                    }
                }
                p {
                    color: rgb(249, 24, 128);
                }
            }
            .commentIcon:hover {
                a {
                    background-color: rgba(29, 155, 240, 0.1);
                    text-decoration: none;
                    svg {
                        color: rgb(29, 155, 240);
                    }
                }
                p {
                    color: rgb(29, 155, 240);
                }
            }
        }

        .writeComment {
            display: flex;
            flex-direction: column;
            .title {
                margin: 0 0 12px 58px;
                color: $font-color-light-2;
                a {
                    color: $border-color-light-4;
                }
            }
            .box {
                display: flex;
                .left {
                    width: 48px;
                    height: 48px;
                    border-radius: 48px;
                    overflow: hidden;
                    flex-shrink: 0;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .right {
                    width: 100%;
                    .v-md-editor {
                        width: calc(100% - 10px);
                        margin-left: 10px;
                        box-shadow: none;
                    }
                }
            }
        }

        form {
            display: flex;
            justify-content: end;
            border-bottom: 1px solid $border-color-light-1;
            button {
                margin: 8px 0;
                padding: 8px 14px;
                border-radius: 99px !important;
            }
            @include button;
        }

        .comment {
            min-height: calc(100vh - 59px);
            .message {
                padding: 12px 0;
                text-align: center;
            }
            ul {
                li {
                    display: flex;
                    margin: 4px 0;
                    padding: 8px 0;
                    border-bottom: 1px solid $border-color-light-1;
                    .head {
                        width: 48px;
                        height: 48px;
                        overflow: hidden;
                        border-radius: 48px;
                        flex-shrink: 0;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .text {
                        margin-left: 8px;
                        .user {
                            display: flex;

                            a {
                                text-decoration: none;
                                display: flex;
                                span {
                                    font-weight: bold;
                                    color: $font-color-light-1;
                                    margin-right: 6px;
                                }
                            }
                            p {
                                font-weight: normal;
                                color: $font-color-light-2;
                                margin: 0 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}
