@import "@/assets/css/_variables.scss";
@import "@/assets/css/module.scss";

.postStream {
    width: 100%;
    height: calc(100% - 58px);
    padding-top: 58px;
    overflow: scroll;
    display: flex;

    .stream {
        width: 610px;
    }
}

.loadingBox {
    width: 100%;
    height: 100px;
    @include flexCenter;
    position: relative;

    span {
        margin: 20px;
    }

    img {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .loader {
        border: 4px solid $border-color-light-0;
        border-left-color: transparent;
        border-radius: 50%;
    }

    .loader {
        border: 4px solid $border-color-light-0;
        border-left-color: transparent;
        width: 18px;
        height: 18px;
    }

    .loader {
        border: 4px solid $border-color-light-0;
        border-left-color: transparent;
        width: 18px;
        height: 18px;
        animation: spin89345 1s linear infinite;
    }

    @keyframes spin89345 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}