@import "@/assets/css/_variables.scss";

.settingPage {
    width: 961px;
    height: 100vh;
    overflow: scroll;
    display: flex;
    * {
        transition: .2s;
    }
    .setting {
        display: flex;
        .menu {
            width: 320px;
            height: calc(100% - 60px);
            padding-top: 60px;
            border-right: 1px solid $border-color-light-1;
            li {
                a {
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: $font-color-light-1;
                    font-size: 18px;
                    div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        svg {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .select {
            background-color: $background-color-hover-light-1;
            border-left: 5px solid $background-color-light-1;
        }
        .main {
            width: 639px;
            height: 100%;
            overflow: scroll;
            border-right: 1px solid $border-color-light-1;
        }
    }
}