@import "@/assets/css/_variables.scss";
@import "@/assets/css/module.scss";

.loginAndRegister {
    width: 100vw;
    height: 100vh;
    @include flexCenter;

    >div {
        width: 45%;
        height: 100%;
    }

    .logo {
        @include flexCenter;

        svg {
            font-size: 400px;
        }
    }

    .panel {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        .title {
            font-size: 50px;
            font-weight: bold;
            color: $font-color-light-1;
        }

        .subTitle {
            font-size: 30px;
            color: $font-color-light-2;
        }

        form {
            margin: 20px 0;

            .input {
                display: flex;
                flex-direction: column;

                span {
                    color: $font-color-light-2;
                }

                input {
                    width: 300px;
                }

                @include input;

                .password {
                    display: flex;
                    input {
                        width: 248px;
                        margin-right: 2px;
                    }

                    button {
                        width: 50px;
                        height: 39px;
                        margin: 0;
                        @include flexCenter;

                        svg {
                            font-size: 22px;
                        }
                    }
                }
            }

            button {
                width: 320px;
                margin: 24px 0;
                padding: 8px;
            }

            @include button;
        }

        .register,
        .retrieve {
            color: $font-color-light-1;
            @include a;
        }
    }
}