@import "@/assets/css/_variables.scss";
@import "@/assets/css/module.scss";

.loginAndRegister {
    width: 100vw;
    height: 100vh;
    @include flexCenter;

    >div {
        width: 45%;
        height: 100%;
    }

    .logo {
        @include flexCenter;

        svg {
            font-size: 400px;
        }
    }

    .panel {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        .title {
            font-size: 50px;
            font-weight: bold;
            color: $font-color-light-1;
        }

        .subTitle {
            font-size: 30px;
            color: $font-color-light-2;
        }

        form {
            margin: 20px 0;

            >div {
                display: flex;
                flex-direction: column;

                span {
                    color: $font-color-light-2;
                    @include a;
                }

                input {
                    width: 300px;
                    position: relative;
                }

                @include input;

                .password {
                    display: flex;
                    input {
                        width: 248px;
                        margin-right: 2px;
                    }

                    button {
                        width: 50px;
                        height: 39px;
                        margin: 0;
                        @include flexCenter;

                        svg {
                            font-size: 22px;
                        }
                    }
                }

                .usernameHint {
                    position: absolute;
                    opacity: 0;
                    z-index: -99;
                    background-color: $background-color-light-0;
                    box-shadow: 0px 0px 4px 4px rgba($color: #1b1b1b, $alpha: 0.2);
                    border-radius: 6px;
                    padding: 4px 8px;
                }
            }

            .code {
                input {
                    width: 176px;
                }

                button {
                    width: 60px;
                    padding: 6px;
                    margin-left: 2px;
                }

                @include button;
            }

            .submit {
                width: 316px;
                margin: 24px 0;
                padding: 8px;
            }

            @include button;
        }

        .register {
            color: $font-color-light-1;
            @include a;
        }
    }
}